/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

body, td, a, div, .p {
  font-family: arial, sans-serif
}

.menuPanel a {
  display: block;
  border-bottom: solid 1px #d3d3d3;
  padding: 0.1em, 1em, 0.1em, 1em;
  margin: 0.1em, 1em, 0.1em, 1em;
  cursor: pointer;
}

.footer {
  padding: 0.5em, 1em, 0.5em, 1em;
  font-size: 0.8em;
  border-top: solid 1px black;
  background: #f5f5dc;
  text-align: right;
}

.header {
  border-bottom: solid 1px black;
  background: #f5f5dc;
  text-align: center;
  font-size: 2em;
}

.menuPanel {
  border-right: solid 1px black;
  background: #f5f5dc;
}

.content {
  background: #f5deb3;
}

.innerHeader {
  border-bottom: solid 1px lightgray;
  background: #f5f5fc;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}